<!Doctype html>
<html lang=zh-CN>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name=format-detection content="telephone=no">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>Tony 的小站</title>
    <link rel=icon href=/static/favicon.ico> <meta name=application-name content="唐礼斌的博客">
    <!-- 样式引入 -->
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body class="simple-body">
    <div class="simple-ctx">
        <p style="font-size: 24px;color: #fff;text-align: center;position: relative;top: 48%;">浏览器不支持，请更换浏览器访问。</p>
    </div>

    <!-- 底部备案相关信息 -->
    {% include "./footer.html" %}
</body>
</html>