{% extends './template.html' %}
{% block content %}
    <div class="container album-ctx">
        {% for year, data in albums %}
            <div class="album-box">
                <p class="year">{{year}}</p>
                <div class="album-block">
                    <ul class="items">
                        {% for item in data %}
                        <li>
                            <a href="/{{item.sid}}.html" target="_blank">
                                <div class="img-box"><img class="lazy-img" data-original="https://qiniu.tlbin.com/image/{{item.cover}}"></div>
                                <div class="txt-block">{{item.name}}<span class="date">({{item.filming_time}})</span></div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}