{% extends './template.html' %}
{% block links %}
<link href='/home/dist/static/css/mapbox.css' rel='stylesheet' />
{% endblock %}
{% block content %}
    <div class="container footorint-ctx">
        <div class="inner">
            <p class="count">共<span class="ft-count" id="count">-</span>条记录</p>
            <p class="ts">点击红色浮标即可查看相应照片</p>
            <div id='map'></div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src='/home/dist/static/js/mapbox.js'></script>
<script src='/home/dist/static/js/8a486a08.js'></script>
{% endblock %}