{% extends './template.html' %}
{% block content %}
    <div class="container index-ctx">
        <div class="annou-box">
            <i class="icon-annou"></i>欢迎来访 ~ 如果有侵犯您版权的文章，绝非恶意。请联系删除。
        </div>

        <!-- 主内容 -->
        <div class="main-box">
            <div class="banner" id="banner">
                <div class="ws_thumbs">
                    <div>
                        <a target="_blank" href="#" title="Python3网络爬虫开发实战教程"><img src="${require('../../img/zs1.jpg')}" /></a>
                        <a target="_blank" href="#" title="Python3爬虫视频学习教程"><img src="${require('../../img/zs2.jpg')}" /></a>
                        <a target="_blank" href="#" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"><img src="${require('../../img/zs3.jpg')}" /></a>
                        <a target="_blank" href="#" title="PHP高级特性学习总结"><img src="${require('../../img/zs4.jpg')}" /></a>
                        <a target="_blank" href="#" title="Python2爬虫学习系列教程"><img src="${require('../../img/zs5.jpg')}" /></a>
                    </div>
                </div>
                <div class="ws_images">
                    <ul>
                        <li><a target="_blank" href="/"><img src="${require('../../img/zs1.jpg')}" title="Python3网络爬虫开发实战教程"/></a></li>
                        <li><a target="_blank" href="/"><img src="${require('../../img/zs2.jpg')}" title="Python3爬虫视频学习教程"/></a></li>
                        <li><a target="_blank" href="/"><img src="${require('../../img/zs3.jpg')}" title="干货！IT小伙伴们实用的网站及工具大集合！持续更新！"/></a></li>
                        <li><a target="_blank" href="/"><img src="${require('../../img/zs4.jpg')}" title="PHP高级特性学习总结"/></a></li>
                        <li><a target="_blank" href="/"><img src="${require('../../img/zs5.jpg')}" title="Python2爬虫学习系列教程"/></a></li>
                    </ul>
                </div>
            </div>

            <div class="post-box" id="post_box">
                {% for item in scrollData.data %}
                    <article class="excerpt">
                        <div class="item-title">
                            <a href='/{{item.sid}}.html'>
                                <span class="tag-type">{{item.tag}}</span>
                                <span class="title-txt">{{item.title}}</span>
                            </a>
                        </div>
                        <a class="pic-block" href="/{{item.sid}}.html"><img  class="lazy-img" data-original="{{item.cover_url}}" /></a>
                        <div class="right-box">
                            <div class="summary-text">{{item.summary}}</div>
                            <div class="right-btn">
                                <i class="icon-timer"></i>
                                <span class="date-txt">{{item.issue_time.substr(0, 10)}}</span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <!-- 底部loading -->
            {% include "./loading.html" %}
        </div>
        <!-- 小部件 -->
        <div class="widget-box">
            <!-- 网站介绍及统计、相册随览 -->
            {% include "./widget-author-random.html" %}
            <!-- 猜你喜欢、标签云 -->
            {% include "./widget-push-tag.html" %}
        </div>
    </div>
{% endblock %}