{% extends './template.html' %}
{% block content %}
    <div class="container index-ctx">
        <div class="annou-box">
            <i class="icon-annou"></i>欢迎来访 ~ 如果有侵犯您版权的文章，绝非恶意。请联系删除。
        </div>

        <!-- 主内容 -->
        <div class="main-box">
            <div class="banner" id="banner">
                <div class="ws_thumbs">
                    <div>
                        {% for item in bannerList %}
                            <a href="/{{item.sid}}.html" title="{{item.title}}"><img src="https://qiniu.tlbin.com/image/banner/{{item.pic}}" /></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="ws_images">
                    <ul>
                        {% for item in bannerList %}
                            <li><a href="/{{item.sid}}.html"><img src="https://qiniu.tlbin.com/image/banner/{{item.pic}}" title="{{item.title}}"/></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="post-box" id="post_box">
                {% for item in scrollData.data %}
                    <article class="excerpt">
                        <div class="item-title">
                            <a href='/{{item.sid}}.html'>
                                <span class="tag-type">{{item.tag}}</span>
                                <span class="title-txt">{{item.title}}</span>
                            </a>
                        </div>
                        <a class="pic-block" href="/{{item.sid}}.html"><img  class="lazy-img" data-original="{{item.cover_url}}" /></a>
                        <div class="right-box">
                            <div class="summary-text">{{item.summary}}</div>
                            <div class="right-btn">
                                <i class="icon-timer"></i>
                                <span class="date-txt">{{item.issue_time.substr(0, 10)}}</span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <!-- 底部loading -->
            {% include "./loading.html" %}
        </div>
        <!-- 小部件 -->
        <div class="widget-box">
            <!-- 网站介绍及统计、相册随览 -->
            {% include "./widget-author-random.html" %}
            <!-- 猜你喜欢、标签云 -->
            {% include "./widget-push-tag.html" %}
        </div>
    </div>
{% endblock %}